<div class="container">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :nombre%><br />
        <%= f.text_field :name%> <i class="material-icons">info_outline</i>
      </div>

      <div class="field">
        <%= f.label :apellido%><br />
        <%= f.text_field :lastname%>
      </div>

      <div class="field">
        <%= f.label :Numero_de_contacto%><br />
        <%= f.text_field :phone%>
      </div>

      <div class="field">
        <%= f.label :Fecha_de_nacimiento %><br />
        <%= f.text_field :birthdate, type: "date", class: "datepicker "%>
        <script>
            $('.datepicker').pickadate({
                selectMonths: true,
                selectYears: 170,
                selectDays:true
            });
        </script>
      </div>

      <div class="field">
        <script>$(document).ready(function() {
        $('select').material_select();
        });
        </script>
        <%=f.label :Rol%>
        <%= f.select :rol, options_for_select([["Administrador de la Organizacion", "1"], ["Ejecutivo de Ventas", "2"],["Analista", "3"]]) %>

        <label>Materialize Select</label>
      </div>



      <div class="field">

        <%= f.radio_button :sex, 'Femenino', class:"with-gap"%>
        <%= f.label :sex, 'Femenino', :value => 'femenino', class:"with-gap" %>
        <%= f.radio_button :sex, 'Masculino' , class:"with-gap"%>
        <%= f.label :sex , 'Masculino', :value => 'Masculino', class:"with-gap" %>
      </div>


      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>

  <% end %>

  <%= render "devise/shared/links" %>
</div>