
<div> <!-- Slider -->
<div class="slider fullscreen ">
  <ul class="slides">
    <li>
      <img src="<%= asset_path 'principal.png' %>"> <!-- random image -->
      <div class="caption left-align row">
        <div class="col s12 offset-s4 grid-example">
          <h1 class="black-text fuenteslogan fila2">CR&Uuml;MBIK</h1>
          <h2 class="light black-text text-lighten-2 fuenteslogan2">more clients less work</h2>

        </div>
      </div>
    </li>

    <li>
      <img src="<%= asset_path 'crm.jpg' %>"> <!-- random image -->
      <div class="caption right-align row">
        <h2 class="col s4 offset-s7 grid-example left-align">Customer Relationship Management</h2>
        <h3 class=" col s7 offset-s7 light grey-text text-lighten-3 left-align consolas">Una herramienta para escuchar al cliente</h3>
      </div>
    </li>
    <li>
      <img src="<%= asset_path 'crmlupa.jpg' %>">  <!-- random image -->
      <div class="caption left-align">
        <h2 class="fila3">Conozca sus clientes</h2>
        <h4 class=" light grey-text text-lighten-3">Reduciendo los costos de marketing</h4>
      </div>
    </li>
    <li>
      <img src="<%= asset_path 'email.jpg' %>">  <!-- random image -->
      <div class="caption center-align   ">
        <h2 class="black-text">Publicidad Digital</h2>
        <h4 class="light black-text text-lighten-3"> Mejore su demanda por medio de la oferta efectiva de sus productos y servicios. </h4>
      </div>
    </li>
    <li>
      <img src="<%= asset_path 'satisfecho.jpg' %>">  <!-- random image -->
      <div class="caption left-align   ">
        <h2 class="black-text">Mantenga</h2>
        <h4 class="light black-text text-lighten-3">La satisfacci&oacute;n de sus clientes</h4>
      </div>
    </li>
  </ul>
</div>
<script>
    $(document).ready(function(){
        $('.slider').slider({full_width: true});
    });
</script>
</div> <!-- /Slider -->



<> <!-- Parallax -->
  <div class="section white parallax-container">
    <div class="row container">
      <h2 class="header">CR&Uuml;MBIK</h2>
    </div>
  </div>


  <div class="parallax-container">
    <div class="parallax"><img src="<%= asset_path 'crm2.jpg' %>">  </div>
  </div>


  <!-- Servicios-->
  <body class="fondoazul">
<div class="section"  id="servicios">
  <div class="row">
    <h4 class="col s2 offset-s2">Servicios</h4>
  </div>
  <div class="row container center ">
    <div class="row">
      <div class="col s4">
        <div >
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header teal darken-1" style="height: 120px">
                <div class="center">
                <i class="material-icons iconnegro " style="font-size: 100px; position: relative; left: 60px; top:20px ">email</i>
                  <h6 class="center" style="position: relative; right: 22px; top:90px"> Campañas de Marketing </h6>
                </div>
              </div>
              <div class="collapsible-body  row"><p col s4>Puede desarrollar campañas de marketing basadas en los perfiles e historiales de sus clientes. Ejecute campañas por correo electr&oacute;nico o auto-contestadores. </p></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s4">
        <div class="center">
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header teal darken-1" style="height: 120px">
                <div class="center">
                  <i class="material-icons iconnegro " style="font-size: 100px; position: relative; left: 60px; top:20px ">assessment</i>
                  <h6 class="center" style="position: relative; right: 22px; top:90px"> Reportes Estad&iacute;sticos </h6>
                </div>
              </div>
              <div class="collapsible-body  row"><p col s4>Los reportes Estad&iacute;sticos, brindan al ejecutivo información clara y oportuna para la toma de decisiones</p></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s4">
        <div>
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header teal darken-1" style="height: 120px">
                <div class="center">
                  <i class="material-icons iconnegro " style="font-size: 100px; position: relative; left: 60px; top:20px ">web</i>
                  <h6 class="center" style="position: relative; right: 22px; top:90px"> Campañas en Twitter </h6>
                </div>
              </div>
              <div class="collapsible-body  row"><p col s4>Publique de manera facil sus campañas, puede promocionar su producto y/o servicios en el perfil de twitter de la organizaci&oacute;n</p></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <div>
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header teal darken-1" style="height: 120px">
                <div class="center">
                  <i class="material-icons iconnegro " style="font-size: 100px; position: relative; left: 60px; top:20px ">add_alert</i>
                  <h6 class="center" style="position: relative; right: 22px; top:90px"> Notificaciones</h6>
                </div>
              </div>
              <div class="collapsible-body  row"><p col s4>Crümbik puede alertarle de reunions o eventos pr&oacute;ximos, ya sea por correo electrónico o ventanas en pantalla.</p></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s4">
        <div>
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header teal darken-1" style="height: 120px">
                <div class="center">
                  <i class="material-icons iconnegro " style="font-size: 100px; position: relative; left: 60px; top:20px ">event</i>
                  <h6 class="center" style="position: relative; right: 22px; top:90px"> Calendario </h6>
                </div>
              </div>
              <div class="collapsible-body  row"><p col s4>El calendario es una estupenda forma de gestionar y ver su horario. Puede consultar las actividades programadas en el día, la semana o el mes, las reuniones con los clientes, recordatorios, creación de tareas y/o notas. </p></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col s4">
        <div>
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header teal darken-1" style="height: 120px">
                <div class="center">
                  <i class="material-icons iconnegro " style="font-size: 100px; position: relative; left: 60px; top:20px ">chat</i>
                  <h6 class="center" style="position: relative; right: 22px; top:90px"> Chat </h6>
                </div>
              </div>
              <div class="collapsible-body  row"><p col s4>Mantenga contacto directo con sus clientes, a trav&eacute;s del chat en l&iacute;nea</p></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script>
      $(document).ready(function(){
          $('.collapsible').collapsible({
              accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
          });
      });

  </script>
  </div >
  </body>
  <!-- /Servicios-->


  <div class="parallax-container">
    <div class="parallax"><img src="<%= asset_path 'parallax2.png' %>"></div>
  </div>

  <!-- Planes-->
  <body class="fondoazul">
  <div class="section" id="planes">
    <div class="row container">
      <h4 class="black-text">Planes</h4>
    </div>

    <div class="row container center">

      <div class="col s4 ">
        <a class="waves-effect waves-light btn modal-trigger transparent"  style="height: 200px; width: 280px;" href="#bronce">
          <h6 class="black-text">BRONCE</h6>
          <img class="imagenplan" src="<%= asset_path 'Bronce.png' %>"></a>

        <!-- Modal Structure -->
        <div id="bronce" class="modal white lighten-3" style="width: 500px">
          <div class="modal-content ">
            <h4 class="turquesa">Bronce</h4>
            <h5>CRM Limitado</h5>
            <p>100 contactos</p>
            <p>1000 campañas</p>
            <p>Sin apoyo t&eacute;cnico</p>
            <p><h4 class="verde">Gratis por 3 meses</h4></p>
          </div>
          <div class="row">
            <a class=" waves-effect btn center waves-light white-text" <%=  link_to "Registrarse", paginas_registro_org_path, class: "white-text" %></a>
          </div>

        </div>
      </div>
      <div class="col s4">
        <a class="waves-effect waves-light btn modal-trigger transparent"  style="height: 200px; width: 280px;" href="#plata">
          <h6 class="black-text ">PLATA</h6>
          <img class="imagenplan" src="<%= asset_path 'Plata.png' %>"></a>

        <!-- Modal Structure -->
        <div id="plata" class="modal white lighten-3" style="width: 500px">
          <div class="modal-content ">
            <h4 class="turquesa">Plata</h4>
            <h5>CRM Limitado</h5>
            <p>100.000 contactos</p>
            <p>Campañas ilimitadas</p>
            <p>Sin apoyo t&eacute;cnico</p>
            <p>Contrato renovable cada 12 meses</p>
            <p><h2 class="verde">50$</h2></p>
          </div>
          <div class="row">
            <a class=" waves-effect btn center white-text waves-light" <%=  link_to "Registrarse", paginas_registro_org_path, class: "white-text" %></a>
          </div>
        </div>
      </div>
      <div class="col s4">
        <a class="waves-effect waves-light btn modal-trigger transparent"  style="height: 200px; width: 280px;" href="#oro">
          <h6 class="black-text">ORO</h6>
          <img class="imagenplan" src="<%= asset_path 'Oro.png' %>"></a>

        <!-- Modal Structure -->
        <div id="oro" class="modal white lighten-3" style="width: 500px">
          <div class="modal-content ">
            <h4 class="turquesa">Oro</h4>
            <h5>CRM Ilimitado</h5>
            <p>Contactos ilimitados</p>
            <p>Campañas ilimitadas</p>
            <p>Incluye apoyo t&eacute;cnico</p>
            <p>Contrato renovable cada 12 meses</p>
            <p><h2 class="verde">200$</h2></p>
          </div>
          <div class="row">
            <a class=" waves-effect btn center white-text waves-light" <%=  link_to "Registrarse", paginas_registro_org_path, class: "white-text" %></a>
          </div>
        </div>
      </div>
    </div>

    <script>
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal();
        });
    </script>

  </div>
  </body>
  <!-- /Planes-->

  <div class="parallax-container tamanno600">
    <div class="parallax"><img src="<%= asset_path 'demanda.jpg' %>"></div>
  </div>

  <!-- Video-->
  <body class="fondoazul">
  <div class="section">
    <div class="row container">
      <h4 class="black-text">¿Por qu&eacute; usar CR&Uuml;MBIK?</h4>
    </div>
    <div class="center ">
      <iframe width="900" height="480" src="https://www.youtube.com/embed/zz0e1Mvpe_g" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  </body>
  <!-- /Video-->

  <div class="parallax-container">
    <div class="parallax"><img src="<%= asset_path 'digital.jpg' %>"></div>
  </div>

  <!-- Contáctanos-->
  <body class="fondoazul">
  <div class="section row container" id="contactanos">

    <div class="row">
      <h4 class="black-text">Cont&aacute;ctanos</h4>
    </div>

    <div id="ubicacion">
      <img class="imgUbicacion" src="<%= asset_path 'ubicacion.png' %>">
    <h5 class="h5Ubicacion">Ubicaci&oacute;n</h5>
      <label class= "fuenteUbicacion" style="top: 120px;"> SOFTWARE CORPORATION</label>
      <label class= "fuenteUbicacion" style="top: 140px;"> crumbik@softwarecorporation.com</label>
      <label class= "fuenteUbicacion" style="top: 160px;"> Tel&eacute;fono: 317 441 8208</label>
      <label class= "fuenteUbicacion" style="top: 180px;"> Barquisimeto av. 20 con calle 50</label>
      <label class= "fuenteUbicacion" style="top: 200px;"> Lara – Venezuela</label>
    </div>


      <div class="input-field col s7">
        <select>
          <option value=""disabled selected>Seleccione su solicitud</option>
          <option value="1">Solicitud de información</option>
          <option value="2">Reclamos</option>
          <option value="3">Sugerencias</option>
        </select>
        <label>Tipo de Solicitud</label>
      </div>


      <div class="row ">
        <form>
            <div class="input-field col s7 ">
              <i class="material-icons prefix iconnegro">account_circle</i>
              <input id="nombreContacto" type="text" class="validate">
              <label for="nombreContacto">Nombre </label>
            </div>

            <div class="input-field col s7 ">
              <i class="material-icons prefix iconnegro">email</i>
              <input id="emailContacto" type="text" class="validate">
              <label for="emailContacto">Email </label>
            </div>

            <div class="input-field col s7 ">
              <i class="material-icons prefix iconnegro">phone</i>
              <input id="telefonoContacto" type="tel" class="validate">
              <label for="telefonoContacto">Tel&eacute;fono </label>
            </div>

            <div class="input-field col s7 ">
              <i class="material-icons prefix iconnegro">spellcheck</i>
              <input id="asuntoContacto" type="text" class="validate">
              <label for="asuntoContacto">Asunto </label>
            </div>

            <div class="input-field col s7 ">
              <i class="material-icons prefix iconnegro">mode_edit</i>
                <textarea id="mensajeContacto" class="materialize-textarea"></textarea>
                <label for="mensajeContacto">Mensaje </label>
            </div>
        </form>
      </div>

    <div class="row" >
      <div class="col s12 center" >
      <button id="btnEnviarContacto" class="btn waves-effect waves-light offset-s4" type="submit" name="action">Enviar</button>
      </div>
    </div>

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
  </div>
    </body>
  <!-- /Contáctanos-->


  <div class="parallax-container">
    <div class="parallax"><img src="<%= asset_path 'configuracion.jpg' %>"></div>
  </div>

  <script type="text/javascript">
      $(document).ready(function(){
          $('.parallax').parallax();
      });
  </script>

    </div>
<!-- /Parallax -->
<!-- registrar google-->
<div id="evelyn" class="modal grey lighten-3" style="width: 500px" onscroll="true">
  <div class="modal-content center ">
    <h4 class="turquesa">Registro</h4>
    <h5>Inicia sesión con:</h5>
    <p>O</p>
  </div>
  <div class="row center">
    <button class="btn waves-effect blue  waves-light"><%= link_to "Registrarse" , paginas_registro_org_path   , class: "white-text" %></button>
  </div>

</div>
