
<div class="container">
     <div class="row">
<%= form_for(@payment) do |f|  %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col s6 ">
    <%= f.label :Monto, class:'black-text' %><br>
    <%= f.number_field :amount,required: true, numericality: true, title: 'solo numero'%>
  </div>
  <div class="field col s6">
    <%= f.label :Identificacion, class:'black-text' %><br>
    <%= f.text_field :identification ,required: true%>
  </div>
  <div class="field col s6">
    <%= f.label :Numero_de_tarjeta, class: 'black-text'%><br>
    <%= f.text_field :card_number, :maxlength => 16,required: true, pattern: '.{3,16}', title: 'El numero de tarjeta debe tener minimo 3 caracteres' %>
  </div>
  <div class="field col s6">
    <%= f.label :Mes_de_Expiracion,class:'black-text' %><br>
    <%= f.text_field :expiration_month,required: true %>
  </div>
  <div class="field col s6">
    <%= f.label :Año_de_Expiracion,class:'black-text'%><br>
    <%= f.text_field :expiration_year,required: true %>
  </div>
  <div class="field col s6">
    <%= f.label :Codigo_de_Seguridad,class:'black-text'%><br>
    <%= f.text_field :security_code,required: true%>
  </div>
  <div class="actions center row">
    <button onclick="validacion()" class="btn waves-effect waves-light center">Registrar</button>
  </div>
  </body>
  
   <script type="text/javascript">
  var validar = function (){
 var expiration_month =document.form_for.expiration_month;
  if (expiration_month.value=="")
   {

    
    document.getElementById("ex_year").innertHTML="El campo es requerido";
    return;
    
  }

  
}

</script>
<% end %>
     </div>
</div>