
<div class="container">
  <div class="row">
<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col s6">
    <%= f.label :Nombre, class: 'black-text'%><br>
    <%= f.text_field :name %>
  </div>
  <div class="field col s6">
    <%= f.label :Email, class: 'black-text' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field col s6 ">
    <%= f.label :Eslogan, class: 'black-text' %><br>
    <%= f.text_area :slogan %>
  </div>
  <div class="field col s6">
    <%= f.label :Mision, class: 'black-text' %><br>
    <%= f.text_area :mission %>
  </div>
  <div class="field col s6">
    <%= f.label :Vision, class: 'black-text' %><br>
    <%= f.text_area :vision %>
  </div>
  <div class="field col s6">
    <%= f.label :Telefono, class: 'black-text' %><br>
    <%= f.text_field :phone %>
  </div>



        <div class="actions row ">
          <div class="col s12 center">
            <%= f.submit "Registrar" , class: 'waves-effect waves-light btn ' %>
          </div>
        </div>

<% end %>
  </div>
</div>

