

<div class="col s12 m12">
<div class="container">


<p id="notice"><%= notice %></p>


<h2 class="center">Organizaciones Registradas</h2>

<table class="centered striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Eslogan</th>
      <th>Misi&oacute;n</th>
      <th>Visi&oacute;n</th>
      <th>Telefono</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.email %></td>
        <td><%= organization.slogan %></td>
        <td><%= organization.mission %></td>
        <td><%= organization.vision %></td>
        <td><%= organization.phone %></td>
        <td><%= organization.status %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Modificar', edit_organization_path(organization) %></td>
        <td><%= link_to 'Eliminar', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="col s12 center-align">
  <a class="btn purple" <%= link_to 'Registrar Organizacion', new_organization_path %></a>
</div>
</div>
</div>