<div class="container">
<div class="row">




<h2 class="center">Productos Registrados</h2>

<table class="centered striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripci&oacute;n</th>
      <th>Precio</th>
      <th>Etatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.info %></td>
        <td><%= product.price %></td>
        <td><%= product.status %></td>
        <td><%= link_to 'Consultar', product %></td>
        <td><%= link_to 'Modificar', edit_product_path(product) %></td>
        <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: '¿Desea eliminar el producto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <div class="col s12 center-align">
    <a class="btn waves-effect waves-light" <%= link_to 'Registrar Producto', new_product_path %></a>
  </div>
</div>
</div>