<!DOCTYPE html>
<html>
	<head>

	  <title>Crumbik   </title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= yield :css_personalizado %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%=    csrf_meta_tags %>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


      <!-- Incluya los javascripts: Extjs 5.1 -->
      <script type="text/javascript" src="<%= asset_path 'js/ext/build/ext-all.js' %>"></script>
      <!-- Incluya hojas de estilos de: Extjs 5.1 -->
      <link rel="stylesheet" type="text/css" href="<%= asset_path 'js/ext/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css' %>">
    </head>


	<body>
		<%= render "partials/header" %>
		<% if notice %>
  <p class="card-panel teal lighten-2"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="card-panel teal lighten-2"><%= alert %></p>
<% end %>
<div class="row">

		<%= yield %>
	
		</div>
		<%= render "partials/footer" %>
<div id="tree_el">

        <%= render "ejemplo13/index" %>
</div>
		<%= yield :javascript_personalizado %>
	</body>

</html>
